html {
    overflow-y: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
a {
    text-decoration: none;
}
p {
    margin-bottom: 0px;
}
a.list__tile--active > .list__tile__action > i.material-icons {
    color: #3ba33f !important;
}
.application {
    font-family: 'Open Sans', sans-serif!important;
    line-height: 1.5;
}
.nuxtid-no-bg {
    background: none!important;
}
.nuxtid-no-main {
    background: #ffffff!important;
}
.z-max {
    z-index: 100000000;
}

.navigation-drawer__border {
    background: none!important;
}
.theme--light .footer, .application .theme--light.footer {
    background: none!important;
}
.shadow-max {
    -webkit-box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
            box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
}
.full-bg-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-box{
    width: 100%;
    margin: 0;
    background-position: center center;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.img-box.box-25 {
    padding-bottom: 24.9%;
}
.img-box.box-50 {
    padding-bottom: 49.9%;
}
.img-box.box-75 {
    padding-bottom: 74.9%;
}
.img-box.box-100 {
    padding-bottom: 99.9%;
}
.img-box.box-150 {
    padding-bottom: 149.9%;
}
.img-box.box-125 {
    padding-bottom: 124.9%;
}
.img-box.box-115 {
    padding-bottom: 114.9%;
}
.ml-100 {
    margin-left:100px!important;
}
.full-height {
    height:100%!important;
}
.full-width {
    width:100%!important;
}
.max-width {
    max-width:100%!important;
}
.bg-white {
    background-color: #ffffff!important;
}
.r {
    border-radius:50%!important;
}
.r3 {
    border-radius:3px!important;
}
.r5 {
    border-radius:5px!important;
}
.r7 {
    border-radius:7px!important;
}
.f-n {
    font-weight: 400;
}
.f-s {
    font-weight: 200;
}
.f-b {
    font-weight: 600;
}
.fs-12 {
    font-size:12px;
}
.fs-14 {
    font-size:14px;
}
.fs-16 {
    font-size:16px;
}
.fs-18 {
    font-size:18px;
}
.fs-20 {
    font-size:20px;
}
.fs-22 {
    font-size:22px;
}
.fs-24 {
    font-size:24px;
}
.fs-26 {
    font-size:26px;
}
.fs-28 {
    font-size:28px;
}
.fs-30 {
    font-size:30px;
}
.fls-1 {
    letter-spacing:.3px;
}
.fls-2 {
    letter-spacing:.5px;
}
.fls-3 {
    letter-spacing:1px;
}
.fls-4 {
    letter-spacing:1.5px;
}
.fls-5 {
    letter-spacing:2px;
}
.fls-6 {
    letter-spacing:3px;
}
.fls-7 {
    letter-spacing:5px;
}
.line-xs-center {
    width:50px;
    margin:0 auto;
}
.line-md-center {
    width:150px;
    margin:0 auto;
}
.line-lg-center {
    width:250px;
    margin:0 auto;
}
.line-height-1 {
    line-height: 100%;
}
.line-height-2 {
    line-height: 150%;
}
.line-height-3 {
    line-height: 170%;
}
.line-height-4 {
    line-height: 200%;
}
.line-height-5 {
    line-height: 230%;
}

.clearfix:after,
.clearfix:before{
  display:table;
  content:" ";
}
.clearfix:after{
  clear:both;
}


h1.nuxtid-header {
    font-size:40px;
    letter-spacing:2px;
    font-weight:bold;
}
h1.nuxtid-header > sub {
    letter-spacing:.2px;
    font-size:16px;
    font-weight:normal;
    color:#ff0000;
}
.nuxtid-desc {
    font-size:22px;
    font-weight:200;
    letter-spacing:1px;
}
input.nuxtid {
    border-radius:7px;
    background:#FF6666;
    color:#ffffff;
    letter-spacing:1px;
    font-weight:400;
    padding:15px 25px;
    font-size:16px;
    outline:none;
    width:100%;
}
input.nuxtid::-webkit-input-placeholder {
    color:#fafafa!important;
    font-weight:200;
    letter-spacing:2px;
}
input.nuxtid:-ms-input-placeholder {
    color:#fafafa!important;
    font-weight:200;
    letter-spacing:2px;
}
input.nuxtid::placeholder {
    color:#fafafa!important;
    font-weight:200;
    letter-spacing:2px;
}
input.nuxtid::-moz-placeholder {
    color:#fafafa!important;
    font-weight:200;
    letter-spacing:2px;
}
input.nuxtid:-ms-input-placeholder {
    color:#fafafa!important;
    font-weight:200;
    letter-spacing:2px;
}
input.nuxtid::-webkit-input-placeholder {
    color:#fafafa!important;
    font-weight:200;
    letter-spacing:2px;
}
a.ic-community {
    display:inline-block;
    padding:2px;
    width:27px;
    height:27px;
    overflow:hidden;
}
.v-divider-v {
    margin:0 auto;
    height:100%;
    width:1px;
    background:#eee;
}
.d-block {
    display: block!important;
}
.p-relative {
    position: relative;
}
.float-l {
    float:left;
}
.c-pointer {
    cursor: pointer;
}
.nuxtid-algolia-init {
    position:absolute;
    left:0px;
    bottom:70px;
    padding:12px 15px;
    letter-spacing:.3px;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    border-radius:5px;
    width:100%;
    background:rgba(220,220,220,.18);
}
.nuxtid-algolia-list {
    padding:12px 15px;
    letter-spacing:.3px;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    border-radius:3px;
    width:100%;
    background:rgba(250,250,250,.16);
    margin-bottom:7px;
    cursor:pointer;
}

.nuxtid-algolia-list:hover {
    background:rgba(250,250,250,.5);
}
.nuxtid-result-view {
    position:relative;
    height:100%;
    width:100%;
}
.nuxtid-result-view > div > .nuxtid-result-view-title {
    font-size:16px;
    font-weight:400;
    letter-spacing:.5px;
    padding:2px 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.nuxtid-result-view > div > .nuxtid-result-view-content {
    font-size:14px;
    font-weight:200;
    letter-spacing:.3px;
    padding: 15px 18px;
    line-height: 155%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.nuxtid-result-view > div > .nuxtid-result-view-content > h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px;
}
.nuxtid-result-view > div > .nuxtid-result-view-content > blockquote {
    padding: 10px 0px;
    font-size: 18px;
    font-style: italic;
    font-weight: 200;
}
.nuxtid-result-view > div > .nuxtid-result-view-content > p {
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 200;
    line-height: 150%;
    letter-spacing: 0px;
}
.nuxtid-result-view > div > .nuxtid-result-view-content > pre > code {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

img.powered-by-algolia {
    float:right;
    width:100px;
    margin-top:10px;
    margin-right:10px;
}
.nuxtid-class.basic,.nuxtid-class.intermediate,.nuxtid-class.expert {
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    cursor:pointer;
}
.nuxtid-class.basic:hover,.nuxtid-class.intermediate:hover,.nuxtid-class.expert:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}
.btn-open-right {
    display: none;
}
span.close-right-view {
    display: none;
}
.ais-index {
    position: relative;
}
.ais-index > span.clear-input {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    right: 0px;
    border-radius: 0px 7px 7px 0px;
    color: #fff;
    height: 54px;
    display: table;
    cursor: pointer;
}
.ais-index > span.clear-input::after {
    content: "Clear";
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px;
}

@media (max-width: 768px) {
    #loader{
      position: relative;
      height: 10vw!important;
      width: 10vw!important;
      margin: -5vw 0 0 -5vw!important; 
    }
    div.flex.m {
        position: fixed;
        bottom: 0px;
        padding: 5px 0px;
        left: 0px;
        width: 100%;
        display: table;
        background: #fafafa;
        background: rgba(255,255,255,.9);
        z-index: 10;
    }
    div.flex.m.fh {
        height: 100%;
    }
    div.flex.m > div.p-relative {
        display: table-cell;
        text-align: center;
        vertical-align: bottom;
    }
    div.flex.m > div.p-relative > div.nuxtid-algolia-init {
        bottom: 90px;
    }
    div.flex.m > div.p-relative > div.ais-index > div.ais-results {
        margin-bottom: 12px!important;
    }
    div.flex.search-result.xs12 {
        position: fixed;
        bottom:0px;
        left: 0px;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        z-index: 12;
        background: #fafafa;
        background: rgba(255,255,255,.98);
    }
    div.top-right {
        position: relative!important;
    }
    span.close-right-view {
        position: fixed;
        display: inline-block;
        padding: 2px 12px;
        top: 10px;
        right: 10px;
        font-size: 20px;
        background: #F0F0F0;
        color: #FF0000;
    }
    div.flex.search-result.xs12 > .nuxtid-result-view > div {
        height: 100%;
        overflow-y: auto;
    }
    .btn-open-right {
        display: block;
        width: 100%;
        padding: 12px 10px 12px 12px;
        background: #fff;
        text-align: center;
        color: #333;
        border: solid 1px #4CAf50;
        margin-top: 20px;
        cursor: pointer;
        z-index: 11;
    }
    .right-view{
        display: none;
    }
    .right-view.open {
        display: block;
        position:fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #fafafa;
        z-index:12;
    }
    .right-view.open > div.layout {
        overflow-y: auto;
    }
}

.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 110;
    background-color: #000;
    background-color: rgba(255,255,255, 0.975);
  }

#loader{
    position: relative;
    left: 50%;
    top: 50%;
    height: 3vw;
    width: 3vw;
    margin: -2vw 0 0 -2vw; 
    border: 1px solid transparent;
    border-top-color: #3ba33f;
    border-bottom-color: #3ba33f; 
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before{
    content: "";
    position: absolute;
    top:2%;
    bottom: 2%;
    left: 2%;
    right: 2%; 
    border: 1px solid transparent;
    z-index: 2;
    border-top-color: #ff6666;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;

}

#loader:after{
    content: "";
    position: absolute;
    top:5%;
    bottom: 5%;
    left: 5%;
    right: 5%; 
    border: 1px solid transparent;
    border-top-color: #ff6666;
    z-index: 2;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
  
  /*Keyframes for spin animation */
  
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
  
      50% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
          transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }
  
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
  
      50% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
          transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }
  

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v36/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTQ7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRdwxCXfZpKo5kWAx_74bHs.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTZ6vnaPZw6nYDxM4SVEMFKg.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTfy1_HTwRwgtl1cPga3Fy3Y.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTfgrLsWo7Jk1KvZser0olKY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTYjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/K88pR3goAWT7BTt32Z01m4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/RjgO7rYTmqiVp7vzi-Q5UYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/LWCjsQkB6EMdfHrEVqA1KYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/xozscpT2726on7jbcb_pAoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/59ZRklaO5bWGqF5A9baEEYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzA7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBdwxCXfZpKo5kWAx_74bHs.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzJ6vnaPZw6nYDxM4SVEMFKg.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzPy1_HTwRwgtl1cPga3Fy3Y.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzPgrLsWo7Jk1KvZser0olKY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzIjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }